
.icon6{
    display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
  font-size: 50px;
}
.username{
    float: left;
    display: inline-block;
    color: white;
    font-size: 27px;
    padding-right: 10px;
    height: 50px;
    border-right: darkgray 2px solid;
}

.signout1{
    float: right;
    display: inline-block;
    color: white;
    font-size: 20px;
    margin-top: 0px;
}

.icon7{
    float: right;
    text-decoration: none;
  color: #fff;
  margin: 5px;
  font-size: 20px;
    margin-top: 8px;
    margin-left: 10px;
}

.signout2{
    display: inline-block;
    float: right;
    padding: 5px;
    padding-left: 10px;
}

.signout3{
    background-color: aqua;
}

.Gold{
    color: gold;
    font-weight: bold;
}
.Bronze{
    color: #cd7f32;
    font-weight: bold;
}
.Silver{
    color: silver;
    font-weight: bold;
}
.Platinum{
    color: #cdd5e0;
    font-weight: bold;
}

.highcharts-figure, .highcharts-data-table table {
  min-width: 310px;
  max-width: 900px;
  margin: 2em auto;
}

#container {
  height: 500px;

}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
